.movie-item{
    height: 300px;
    width: 200px;
    font-size: 0.6rem;
    color: white;
    transition: transform 0.5s;
}

.movie-item:hover{
    transform: scale(1.1);
}

.movie-poster{
  height: 90%;
  width: 100%
}

.movie-poster img{
    height: 100%;
    width: 100%
}

.movie-info{
    height: 10%;
    display: flex;
    background-color: #023047;
    align-items: center;
    justify-content: space-around;
}
